body {
  color: #3c3c3c;
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  --gradient: linear-gradient(135deg, #9d0f19 0%, #e31828 100%);
  --gradient-y: linear-gradient(200deg, #9d0f19 0%, #e31828 100%);
  --color-left: #9d0f19;
  --color-right: #e31828;
  --color-title: #3c3c3c;
  --font-lexend: "Lexend", sans-serif;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-title);
}
#wp-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 999999;
  background: #fff;
}
.background-scroll-header {
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(183, 183, 183, 0.18);
}

.header_wrapper {
  width: 100%;
  margin: 0 auto;
  color: var(--color-title);
  padding: 20px 0;
}

.header_wrapper_scroll {
  padding: 5px 0 !important;
}
.header_form_filter{
  padding: 0 10px;
}

#access ul.menu {
  font-size: 13px;
  list-style: none;
  margin: 0 0 0 -0.8125em;
  padding-left: 0;
  z-index: 99999;
  font-family: var(--font-lexend);
}

#access a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--color-title);
  cursor: pointer;
}

.header_wrapper_inside {
  width: 100%;
  padding: 0 10px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_wrapper_inside .logo {
  width: 208px;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.header_wrapper_inside .logo a {
  width: 208px;
}
.logo-scroll {
  width: 170px !important;
}
.logo_image {
  width: 100%;
  height: auto;
}
#access {
  width: calc(100% - (15% + 208px));
  padding: 0 40px;
  display: flex;
  align-items: center;
}
#access ul.menu {
  display: flex;
}
#access ul.menu li {
  height: 100%;
  margin-left: 10px;
}
#access ul.menu li a {
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}
#access ul.menu li:hover a {
  background: var(--gradient);
  color: #fff;
}
.user_menu_wrapper {
  width: 15%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.user_menu_wrapper .submit_action {
  font-size: 30px;
  padding-right: 15px;
  color: var(--color-left);
  cursor: pointer;
}

.user_menu_wrapper .submit_listing {
  font-weight: 500;
  padding: 10px;
  background: linear-gradient(90deg, #9d0f19 0%, #e31828 50%, #9d0f19 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: 3s linear infinite forwards gradient-box;
  border-radius: 5px;
  font-family: var(--font-lexend);
  color: #fff;
}
#wp-header-mobile {
  display: block;
  padding: 10px;
}
.header-mobile {
  display: flex;
  align-items: center;
}
.header-mobile .logo {
  width: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-mobile .logo a {
  width: 150px;
}
.header-mobile .mobile-trigger {
  font-size: 30px;
  width: 30px;
}
.header-mobile .mobile-trigger i {
  cursor: pointer;
}
.header-mobile .box-left {
  width: 30px;
}
.img-slider {
  display: none;
}
#slider_wp a {
  border-radius: 10px;
  height: 180px;
  width: 100%;
  display: block;
  overflow: hidden;
}
.wp-img-slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#slider_wp .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  justify-content: space-between;
  width: 100%;
  display: flex;
}
#slider_wp .owl-nav .owl-prev,
#slider_wp .owl-nav .owl-next {
  width: 35px;
  height: 35px;
  font-size: 35px;
  background: #fff;
  color: var(--color-title);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider_wp .owl-nav .owl-prev span,
#slider_wp .owl-nav .owl-next span {
  padding-bottom: 5px;
}
#slider_wp .owl-nav .owl-prev:hover,
#slider_wp .owl-nav .owl-next:hover {
  background: var(--gradient);
}
#slider_wp .owl-nav .owl-prev:hover span,
#slider_wp .owl-nav .owl-next:hover span {
  padding-bottom: 5px;
  color: #fff;
}

#search_form {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 5px;
}

.search_form-box-tab {
  display: flex;
  justify-content: center;
}
.search_form-box-tab .wp-box-tab {
  display: flex;
  width: 515px;
}
.wp-box-tab .tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 160px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  color: var(--color-title);
  font-size: 1rem;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
  font-weight: 500;
  font-family: var(--font-lexend);
}
.wp-box-tab .tab-item:hover {
  /* background: var(--gradient); */
  background: linear-gradient(90deg, #9d0f19 0%, #e31828 50%, #9d0f19 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: 4s linear infinite forwards gradient-box;
  color: #fff;
}
/* .wp-box-tab .tab-item:hover.tab-item-buy {
  background: linear-gradient(135deg, #a90e1f 0%, #b41022 100%);
  color: #fff;
}
.wp-box-tab .tab-item.active.tab-item-buy {
  background: linear-gradient(135deg, #a90e1f 0%, #b41022 100%);
  color: #fff;
}
.wp-box-tab .tab-item:hover.tab-item-rent {
  background: linear-gradient(135deg, #b41022, #bf1124);
  color: #fff;
}
.wp-box-tab .tab-item.active.tab-item-rent {
  background: linear-gradient(135deg, #b41022, #bf1124);
  color: #fff;
}
.wp-box-tab .tab-item:hover.tab-item-project {
  background: linear-gradient(135deg, #bf1124, #ca1227);
  color: #fff;
}
.wp-box-tab .tab-item.active.tab-item-project {
  background: linear-gradient(135deg, #bf1124, #ca1227);
  color: #fff; */
/* } */
.tab-item.active {
  /* background: var(--gradient); */
  background: linear-gradient(90deg, #9d0f19 0%, #e31828 50%, #9d0f19 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: 4s linear infinite forwards gradient-box;
  color: #fff;
}
.search_form-box-content {
  width: 900px;
  padding: 20px;
  /* background: var(--gradient); */
  background: linear-gradient(90deg, #9d0f19 0%, #e31828 50%, #9d0f19 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: 3s linear infinite forwards gradient-box;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(131, 131, 131, 0.493);
}
.search_form-box-content form {
  position: relative;
}
@keyframes gradient-box {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
#search_form_mobile {
  width: 90%;
  margin: 15px auto;
}
#search_form_mobile form {
  position: relative;
}
#search_form_mobile form .icon-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
#search_form_mobile .input-search-form {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 45px;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgb(245 133 133 / 52%);
}
.search_form-box-content .input-search-form {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 80px 15px 220px;
  border-radius: 30px;
}
.select-button {
  border-right: 1px solid #ccc;
}
.select-button .select-value {
  display: flex;
  justify-content: space-between;
  width: 165px;
  cursor: pointer;
  align-items: center;
}
.select-button {
  padding: 16px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.search_form-box-content .btn-search {
  position: absolute;
  right: 5px;
  top: 4px;
  padding: 10px 20px;
  font-size: 20px;
  color: #555555;
  border: 1px solid #9d0f19;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
}
.search_form-box-content .btn-search:hover {
  background: var(--gradient);
  color: #fff;
  padding: 11px 21px;
  border: none;
}
.search_form-box-content .wp-select-option,
.search_form-box-content .wp-select-option-project {
  width: 350px;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 52%;
  z-index: 1111;
  background: #fff;
  color: #3c3c3c;
  box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.42);
  border-radius: 8px;
}
.search_form-box-content .wp-select-option-location {
  width: 500px;
  padding: 15px;
  position: absolute;
  left: 0;
  top: 105%;
  z-index: 1111;
  background: #fff;
  color: #3c3c3c;
  box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.42);
  border-radius: 8px;
}
.search_form-box-content .wp-select-option-price,
.search_form-box-content .wp-select-option-size,
.search_form-box-content .wp-select-option-status {
  width: 240px;
  padding: 5px;
  position: absolute;
  left: 30%;
  top: 103%;
  z-index: 1111;
  background: #fff;
  color: #3c3c3c;
  box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.42);
  border-radius: 8px;
}
.search_form-box-content .wp-select-option-size,
.search_form-box-content .wp-select-option-status {
  left: 60%;
}
.wp-select-option .wp-list-option-type-property,
.wp-select-option-project .wp-list-option-type-property {
  width: 340px;
  height: 300px;
}
.wp-select-option-price .wp-list-option-type-property,
.wp-select-option-size .wp-list-option-type-property,
.wp-select-option-status .wp-list-option-type-property {
  width: 230px;
  height: 250px;
}
.wp-select-option .wp-list-option-type-property .wp-option-select,
.wp-select-option-project .wp-list-option-type-property .wp-option-select {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  width: 330px;
  cursor: pointer;
}
.wp-select-option-price .wp-list-option-type-property .wp-option-select,
.wp-select-option-size .wp-list-option-type-property .wp-option-select,
.wp-select-option-status .wp-list-option-type-property .wp-option-select {
  padding: 5px;
  width: 220px;
  cursor: pointer;
}
.wp-list-option-type-property .wp-option-select .option-select:hover {
  background: var(--gradient);
  color: #fff;
  border-radius: 3px;
}
.option-active{
  background: var(--gradient) !important;
  color: #fff !important;
  border-radius: 3px !important;
}
.wp-list-option-type-property .option-select {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.option-select .icon {
  width: 30px;
}
.option-select .check-box {
  width: 17px;
}
.option-select .check-box .form-check-input {
  cursor: pointer;
}
.option-select .text-option {
  width: calc(100% - 50px);
}
.bottom-wp-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.bottom-wp-option-mb {
  display: flex;
  justify-content: right;
  align-items: center;
}
.bottom-wp-option .btn-clear-select,
.bottom-wp-option .btn-apply,
.bottom-wp-option-mb .btn-apply,
.bottom-wp-option-mb .btn-clear-select {
  cursor: pointer;
  color: #111;
  font-weight: 500;
}
.bottom-wp-option .btn-apply,
.bottom-wp-option-mb .btn-apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--gradient);
  color: #fff;
  border-radius: 50px;
  margin-right: 10px;
}
.wp-input-select-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 15px;
}
.wp-input-select-search .select-item {
  width: 28%;
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.wp-input-select-search .select-item i {
  float: right;
}
.clear-select-filter {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.clear-select-filter:hover {
  background: #fff;
  color: #9d0f19;
}
#location-tab li {
  width: 25% !important;
  border-radius: 0px !important;
}
#location-tab li .nav-link {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  color: #222 !important;
  font-weight: 500;
  padding: 10px 0;
  border-radius: 0px !important;
}
#location-tab {
  margin-bottom: 10px !important;
}
#location-tab li .active {
  border-bottom: 3px solid #9d0f19 !important;
  color: #9d0f19 !important;
  background: none !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
#wp-form-search-mobile {
  height: 100vh !important;
  width: 100vw !important;
}
#wp-form-search-mobile .offcanvas-header {
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.42);
  padding-bottom: 0;
  width: 100%;
  background: #fff;
}
#wp-form-search-mobile .offcanvas-header .btn-close {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
#wp-form-search-mobile-lable {
  width: calc(100% - 31px);
  text-align: center;
  font-weight: 500;
  color: #222;
  padding-left: 31px;
  font-family: var(--font-lexend);
  margin-bottom: 20px;
}
.wp-nav-tab-mobile .nav-tab-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-nav-tab-mobile {
  width: 100%;
}
.wp-nav-tab-mobile .nav-tab-mobile .item-nav-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-left: 5px;
  color: #222;
  border-bottom: 2px solid #fff;
  font-size: 14px;
  font-family: var(--font-lexend);
  cursor: pointer;
}
.wp-nav-tab-mobile .nav-tab-mobile .item-nav-tab.active {
  color: var(--color-left);
  border-bottom: 2px solid var(--color-left);
}
.wp-menu-mobile {
  padding: 10px;
}
.wp-menu-mobile .group-btn-login {
  display: flex;
  justify-content: space-between;
}
.group-btn-login .button-login,
.group-btn-login .button-register {
  width: 45%;
  padding: 15px 8px;
  border: 1px solid #9d0f19;
  border-radius: 5px;
  color: var(--color-left);
  text-align: center;
  font-weight: 500;
}
.wp-menu-mobile .wp-btn-post {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-menu-mobile .button-post {
  display: inline-block;
  padding: 16px 8px;
  width: 100%;
  margin: 20px auto;
  background: var(--gradient);
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}
.wp-menu-mobile .wp-item-menu {
  margin-bottom: 20px;
  padding: 20px 0;
}
.wp-menu-mobile .wp-item-menu li {
  margin-bottom: 10px;
}
.wp-menu-mobile .wp-item-menu li a {
  display: flex;
  padding: 10px 5px;
  color: #111;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}
.wp-menu-mobile .wp-item-menu li a img {
  width: 35px;
  height: auto;
  padding-right: 15px;
}
.button-close-menu {
  margin-top: 30px;
  display: block;
  width: 100%;
  padding: 15px 20px;
  background: #aaaaaa;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border: none;
}
#canvasMenuMobile {
  width: 300px;
}
.wp-form-search-mobile {
  padding-top: 114px;
  width: 100%;
  position: relative;
}
.wp-tab-mobile {
  padding-bottom: 80px;
}
.wp-tab-mobile .input-search-mobile {
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  outline: none;
  border: 1px solid var(--color-left);
  width: 100%;
}
.wp-tab-mobile .group-input-search {
  position: relative;
  margin-bottom: 20px;
}
.wp-tab-mobile .group-input-search .icon-search-mobile {
  position: absolute;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}
.type-wrapper-mb,
.type-project-wrapper-mb,
.status-wrapper-mb,
.location-wrapper-mb,
.price-wrapper-mb,
.size-wrapper-mb {
  margin-bottom: 20px;
}
.label-input-select-mb {
  color: #111;
  font-family: var(--font-lexend);
  margin-bottom: 10px;
  width: 100%;
}
.wp-button-submit-mb {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  text-align: end;
  box-shadow: 4px 0px 10px rgba(182, 182, 182, 0.42);
  z-index: 100;
  background: #fff;
}
.wp-button-submit-mb .btn-clear-mb {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  font-family: var(--font-lexend);
  cursor: pointer;
}
.wp-button-submit-mb .btn-action-search {
  padding: 11px;
  border-radius: 5px;
  display: inline-block;
  background: var(--gradient);
  color: #fff;
  font-family: var(--font-lexend);
  cursor: pointer;
}
.wp-button-select-location {
  padding: 10px 50px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  max-width: 100%;
}
.wp-button-select-location i {
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 15px;
}
#modal-location-mb .modal-content {
  height: 70vh;
  box-shadow: 0px 4px 10px 2px rgba(182, 182, 182, 0.42);
}
#modal-location-mb .modal-header {
  box-shadow: 0px 1px 5px 2px rgba(182, 182, 182, 0.42);
  border-bottom: none !important;
  z-index: 1000;
}
#modal-location-mb .modal-footer {
  box-shadow: 1px 0px 5px 2px rgba(182, 182, 182, 0.42);
  border-top: none !important;
  z-index: 1000;
}
#modal-location-mb .modal-content .wp-select {
  margin-bottom: 20px;
}
#modal-location-mb-label {
  font-family: var(--font-lexend);
  color: #222;
  width: calc(100% - 32px);
  padding-left: 32px;
  display: flex;
  justify-content: center;
}
#wp-sub-menu-mb {
  display: flex;
  width: 100%;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  background: #fff;
}
#wp-sub-menu-mb .box-icon-sub-menu {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #f1f1f1 0%, transparent 100%); */
  background: linear-gradient(90deg, #9d0f19 0%, #e31828 50%, #9d0f19 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: 2s linear infinite forwards gradient-box;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 2px rgba(182, 182, 182, 0.42);
}
#wp-sub-menu-mb .box-icon-sub-menu img {
  width: 70%;
  height: auto;
}
#wp-sub-menu-mb .box-icon-sub-menu span {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: var(--font-lexend);
}
#container-content {
  position: relative;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background: var(--gradient);
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 9999;
  animation-name: backToTopAnimation;
}
#back-to-top.back-to-top {
  animation: backToTopAnimation 4s infinite;
}
.wp-input-search-home-mb{
  position: relative;
}
.wp-input-search-home-mb .icon-search-home-mb{
  position: absolute;
  top: 0;
  right: 5px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes backToTopAnimation {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 10px;
  }
}

@media (min-width: 450px) {
  .header-mobile .logo a {
    width: 208px;
  }
  #slider_wp a {
    height: 200px;
  }
  #search_form_mobile .input-search-form {
    padding: 15px 45px;
  }
  .wp-input-search-home-mb .icon-search-home-mb{
    width: 49px;
    height: 49px;
  }
}
@media (min-width: 600px) {
  #slider_wp a {
    height: 220px;
  }
  #wp-sub-menu-mb .box-icon-sub-menu {
    margin-right: 20px;
  }
  #search_form_mobile {
    margin: 30px auto;
  }
}
@media (min-width: 768px) {
  #slider_wp a {
    height: auto;
  }
  .img-slider {
    display: block;
  }
}
@media (min-width: 980px) {
  #wp-sub-menu-mb {
    display: none;
  }
  #search_form_mobile {
    display: none;
  }
  #slider_search {
    position: relative;
  }
  #search_form {
    display: block;
  }
  #container-content {
    padding-top: 100px;
  }
  #wp-header {
    display: block;
  }

  #wp-header-mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header_wrapper_inside {
    padding: 0 55px;
  }
  .owl-dots {
    display: block;
  }
  .header_form_filter{
    padding: 0 55px;
  }
}
