
h1 {
    font-size: 34px;
    line-height: 1.3em;
    margin-bottom: 15px;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #222;
    font-family: 'Nunito Sans', sans-serif;
}

ul {
    list-style-type: square;
    margin: 0px 0px 26px 26px;
}

h4 {
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 15px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 1.3em;
    margin-bottom: 15px;
    font-weight: 700;
}

.header_media{
	background-color: #fdfdfd;
    position: relative;
    z-index: 3;
    width: 100%;
    display: inline-block;
}

.property_header_gallery_wrapper {
    margin-bottom: 0px;
}

.gallery_wrapper {
    float: left;
    width: 100%;
    /*margin-bottom: 30px;*/
    position: relative;
}

.status-wrapper {
    position: absolute;
    top: 15px;
    left: 15px;
    float: right;
    margin-right: 15px;
    min-height: 1px;
}

.special_border {
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    height: 650px;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    min-height: 160px;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    overflow: hidden;

    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.img_listings_overlay {
    /*position: absolute;*/
    top: 0px;
    right: 0px;
    z-index: 9;
    width: 100%;
    cursor: pointer;
    height: 100%;
    background-color: #444;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}


.col-md-3.image_gallery {
    height: 325px;
}


.special_border_top {
    border-top: 1px solid #f0f0f0;
}

.image_gallery {
    
}

.image_gallery {
    min-height: 160px;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    overflow: hidden;
}

.property_header_gallery_wrapper .img_listings_mes {
    font-weight: 700;
}
.img_listings_mes {
    position: absolute;
    top: 70%;
    color: #fff;
    z-index: 10;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    pointer-events: none;
    right: 5%;
    width: 200px;
    text-align: center;
    margin-right: px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.img_listings_overlay_last {
    background-color: #333;
    opacity: 0.4;
}

.property_header_gallery_wrapper .img_listings_overlay:hover {
    opacity: 0.1;
}

@media (min-width: 992px){
	.col-md-6 {
    width: 50%;
    float: left;
	}

	.col-md-3 {
    width: 25%;
    float: left;
	}
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px)
.container {
    width: 750px;
}

@media (min-width: 992px)
.container {
    width: 970px;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}
.container {
    padding: 0px;
    width: 1200px;
    position: relative;
    z-index: 2;
}


.content_wrapper {
    width: 1200px;
    margin: 0px auto;
    background-color: #f7f7f7;
    padding: 0px 15px 30px 15px;
    /* z-index: 100; */
    position: relative;
}

.container:after, .container:before{
	display: table;
    content: " ";
}

.container:after{
	clear: both;
}

.page-template .breadcrumb_container, .breadcrumb_container {
    margin-bottom: 20px;
    line-height: 12px;
}

.breadcrumb {
    color: #8593a9;
    background: none;
    margin-top: 13px;
    padding: 0px;
    margin-bottom: 17px;
    font-size: 12px;
    margin-left: 0px;
}

ol {
    margin: 0px 0px 26px 26px;
}

.breadcrumb > li {
    display: inline-block;
    word-break: break-word;
}

.breadcrumb a {
    color: #8593a9;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
}

.breadcrumb > li + li:before {
    font-family: "Font Awesome 5 Pro";
    padding: 0 5px;
    color: #cccccc;
    content: "\f105";
    font-weight: 600;
}
.breadcrumb .active{
	color: #222222;
}



.notice_area {
    margin-bottom: 35px;
    position: relative;
    margin-top: 30px;
    display: inline-block;
}

.single_property_labels {
    position: absolute;
    left: 10px;
    top: -35px;
}
.property_title_label {
    border-radius: 3px;
    background-color: rgb(11 191 247 / 0.85);
    padding: 6px 14px;
    display: inline-block;
    color: #fff;
    margin: 0px 0px 0px 7px;
    line-height: 1;
}

.property_title_label a {
    color: #fff;
    font-size: 13px;
}

.entry-prop {
    margin-bottom: 0px;
    display: inline;
    float: left;
    width: auto;
    max-width: 75%;
    font-size: 38px;
    line-height: 1.1;
    letter-spacing: -1px;
}

.entry-title {
    margin: 0px 0px 25px 0px;
    width: 100%;
    float: left;
    word-break: break-word;
}

.price_area {
    color: #f1bf7f;
    font-size: 30px;
    padding: 0px 0px 0px 0px;
    float: right;
    font-weight: 600;
    letter-spacing: -1px;
    min-height: 1px;
    line-height: 1.1;
}
.price_label {
    font-size: 16px;
    margin-top: 2px;
}

.notice_area .price_label {
    font-size: 28px;
    margin-top: 0px;
}

.property_categs {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 10px;
}

.property_categs i {
    margin-right: 3px;
    font-size: 12px;
}

.prop_social {
    position: absolute;
    top: 45px;
    right: 15px;
}

.share_unit {
    position: absolute;
    background-color: #0073e1;
    color: #fff;
    font-size: 22px;
    width: 35px;
    top: -141px;
    left: 6px;
    display: none;
    padding: 5px 0px 5px 1px;
    box-shadow: 0 10px 31px 0 rgb(7 152 255 / 9%);
}

.prop_social .share_unit {
    background-color: #fff;
    width: 120px;
    color: #222;
    font-size: 12px;
    padding: 10px;
    top: 28px;
    z-index: 9;
    left: -30px;
}
.single_property_action {
    background: #fff;
    padding: 7px 14px;
    border-radius: 3px;
    box-shadow: 0 10px 31px 0 rgb(7 152 255 / 9%);
    font-weight: 700;
    line-height: 10px;
    font-size: 12px;
    color: #222;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.single_property_action.share_list {
    width: auto;
    height: auto;
    border: none;
}


.col-md-9.rightmargin, .full_width_prop {
    width: 70%;
}


.listing_loader_title {
    display: none;
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 1.3em;
    color: #333;
    font-family: 'Nunito Sans', sans-serif;
}

#listing_loader2, #listing_loader_maps, #listing_loader {
    width: 100%;
    float: left;
    height: 81px;
    text-align: center;
    padding-top: 35px;
    display: none;
    position: relative;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

#listing_ajax_container {
    margin: 0px -15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}


.single-estate_property #listing_ajax_container {
    width: 100%;
    float: left;
}

.single-content {
    padding: 0px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.65em;
    float: left;
    width: 100%;
}
.property-panel {
    margin-bottom: 30px;
    width: 100%;
    min-height: 1px;
    display: inline-block;
    line-height: 1.65em;
}

.single-overview-section {
    background-color: #fff;
    padding: 30px;
}
.property_listing_square, .overview_wrapper, .property_slider2_wrapper .image_div, .property_slider2_info_wrapper, .property_listing_blog, .adv-search-3, .page-template-front_property_submit .navigation_container, .advanced_search_shortcode, .membership_package_product, .contact-wrapper, .developer_contact_wrapper, .agency_contact_wrapper, .property_reviews_wrapper, .agency_contact_container_wrapper, .agency_content_wrapper, .submit_property_front_wrapper, .directory_sidebar_wrapper, .places_wrapper_type_2, .featured_property, .agency_unit, #comments, .single-blog, #content_container .container_agent, .listing_wrapper .property_listing, .listing_wrapper .agent_unit, .tab-pane, .agent_contanct_form, .agent_content, .wpestate_agent_details_wrapper, .wpestate_property_description, .multi_units_wrapper, .property-panel, #primary .widget-container, .user_role_unit, .testimonial-slider-container .testimonial-container.type_class_3, .estate_places_slider.slick-initialized.slick-slider, .google_map_shortcode_wrapper, .testimonial-container.type_class_1 .testimonial-text, .blog_unit, .agent_unit_featured, .featured_article, .saved_search_wrapper {
    box-shadow: 0 10px 31px 0 rgb(7 152 255 / 9%);
    border-radius: 2px;
}


.wpestate_property_description h4, .multi_units_wrapper h4, .property-panel h4 {
    color: #222;
    margin-bottom: 10px;
}

.overview_element {
    list-style: none;
    margin: 10px 0px 0px 0px;
    float: left;
    width: 16%;
}

.overview_element:first-of-type {
    width: 19%;
}

.overview_element li {
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    color: #222;
}

.overview_element:first-of-type li {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 4px;
}

.overview_element:first-of-type li.first_overview_date {
    font-weight: 600;
}

.overview_element svg {
    width: 20px;
    height: 20px;
}

.wpestate_property_description {
    background-color: #fff;
    padding: 30px;
    display: inline-block;
    width: 100%;
    min-height: 1px;
    line-height: 1.6em;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.wpestate_property_description h4, .multi_units_wrapper h4, .property-panel h4 {
    color: #222;
    margin-bottom: 10px;
}

.single-content p {
    margin-bottom: 15px;
    word-break: break-word;
}

.download_docs {
    width: 100%;
    font-weight: bold;
    float: left;
    margin-top: 15px;
    color: #333;
}

.document_down {
    width: 100%;
}

#accordion_prop_addr {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}

.property-panel .panel {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
}

.property-panel .panel-heading {
    background-color: #ffffff;
    background-image: none;
    padding: 30px 30px 15px 30px;
    border-radius: 0px;
}

.property-panel h4:after {
    font-family: "Font Awesome 5 Pro";
    content: "\f106";
    position: relative;
    float: right;
    font-weight: 600;
    margin-right: 0px;
    transition: 0.2s ease-out;
}

.property-panel .panel-body {
    padding: 0px 30px 30px;
}

.property-panel .panel-body {
    border: none!important;
}
.listing_detail {
    padding: 3px 3px 3px 0px;
}

.single-estate_property .listing_detail {
    padding: 0px 30px 7px 0px;
    min-height: 32px;
    font-weight: 600;
    word-break: break-word;
}

.single-estate_property .listing_detail strong {
    color: #222;
    font-weight: 700;
}

.acc_google_maps {
    background-color: #0dc3f8;
    color: #fff!important;
    padding: 1px 6px;
    border-radius: 0px;
    clear: both;
    float: left;
    margin-top: 10px;
    webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px;
    line-height: 1.65em;
}


.property-panel h4:hover {
    color: #0073e1;
}

.panel-default{
	background: #fff;
}

.single-estate_property .listing_detail {
    padding: 0px 30px 7px 0px;
    min-height: 32px;
    font-weight: 600;
    word-break: break-word;
}

.feature_chapter_name.col-md-12 {
    width: 100%;
}

.feature_chapter_name {
    font-weight: 800;
    margin: 5px 0px 10px 0px;
    padding-left: 0px;
    position: relative;
    color: #222;
    float: left;
}
.listing_detail svg, .property_features_svg_icon {
    color: #3872e1;
    width: 20px;
    height: 20px;
    fill: #3872e1;
    margin: 0px 10px 0px 0px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}

.property_video_wrapper {
    background-color: #333;
    position: relative;
    line-height: 1.65em;
}

#property_video_wrapper_player {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 49px;
    color: #fff;
    z-index: 10;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0px 0px -50px;
    opacity: 0.8;
    pointer-events: none;
}

#property_video_wrapper_player:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f04b";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12PX;
    margin-left: -13PX;
    font-weight: 600;
}
.property_video_wrapper img {
    opacity: 0.8;
    transition: all 300ms ease;
    webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    cursor: pointer;
    width: 100%;
}

.single-content img, .entry-summary img, .comment-content img, .widget img, .wp-caption {
    max-width: 100%;
    height: auto;
}

.google_map_shortcode_wrapper {
    position: relative;
    width: 100%;
    height: 400px;
}

.panel-body .google_map_shortcode_wrapper {
    box-shadow: none;
}

#gmapzoomplus_sh, #gmapzoomplus {
    background-color: #fff;
    color: #444;
    font-size: 16px;
    position: absolute;
    top: 15px;
    left: 45px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: 300;
    padding: 6px 0px 0px 9px;
    box-sizing: border-box;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: auto;
    opacity: 0.95;
    -webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    border-radius: 2px;
}

#gmapzoomminus_sh, #gmapzoomminus {
    background-color: #fff;
    color: #444;
    font-size: 14px;
    position: absolute;
    top: 46px;
    left: 45px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: 300;
    padding: 8px 0px 0px 9px;
    box-sizing: border-box;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: auto;
    opacity: 0.95;
    -webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    line-height: 13px;
    border-radius: 2px;
}
#gmapzoomplus_sh.shortcode_control {
    left: 15px;
    padding-top: 5px;
    display: block;
    top: 15px;
}

.modal_property_features i, .wpestate_estate_property_details_section i, .property-panel i {
    margin-right: 10px;
    color: #5B6E8C;
    font-style: initial;
}

#gmapzoomminus_sh.shortcode_control {
    left: 15px;
    padding-top: 5px;
    top: 47px;
    display: block;
}

.google_map_poi_marker {
    position: absolute;
    top: 77px;
    left: 45px;
}

.google_map_shortcode_wrapper .google_map_poi_marker {
    top: 107px;
    z-index: 99;
    z-index: 1;
    left: 15px;
}


.google_poish, #google_poi_clear, .google_poi {
    position: relative;
    background-color: #fff;
    color: #8f9eb6;
    cursor: pointer;
    margin-top: 5px;
    font-size: 12px;
    pointer-events: auto;
    padding: 7px;
    border: 1px solid #fff;
    width: 31px;
    height: 31px;
    -webkit-box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    box-shadow: 3px 1px 20px 0 rgb(0 110 225 / 8%);
    border-radius: 2px;
}
#slider_enable_street_sh {
    background-color: #fff;
    font-size: 14px;
    position: absolute;
    top: 46px;
    left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: 300;
    padding: 4px 0px 0px 9px;
    box-sizing: border-box;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: auto;
    top: 79px;
    display: block;
}

.front_plan_row, .front_plan_row_image {
    float: left;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
}

.front_plan_row {
    cursor: pointer;
    border-radius: 0px;
    background-color: #f3f3f3;
}

.floor_title {
    width: 29%;
    line-height: 1.4em;
    display: inline;
    float: left;
    font-weight: 800;
}

.floor_details {
    width: 15%;
    display: inline;
    float: left;
}

.floor_details .bold_detail {
    font-weight: 800;
}

.front_plan_row_image {
    display: none;
    background: #f9f9f9;
    border-radius: 0px;
}

.floor_image {
    text-align: center;
}
.floor_description {
    margin-top: 10px;
    padding-left: 10px;
}

.single-estate_property .wpestate_agent_details_wrapper {
    box-shadow: none;
}

.wpestate_agent_details_wrapper {
    padding-bottom: 0px;
    float: left;
}

.agent_content, .wpestate_agent_details_wrapper {
    padding: 30px;
    background-color: #fff;
    float: left;
    width: 100%;
    position: relative;
    z-index: 90;
    margin-left: 0;
}

.agentpic-wrapper {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.agent_content, .agentpic-wrapper {
    padding-left: 0px;
}

.agent-listing-img-wrapper {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.agentpict {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}

.agent_unit_social_single {
    bottom: 20px;
    left: 0px;
    right: 0px;
    background-color: #ffffff;
    width: 72%;
    padding: 10px;
    z-index: 10;
    position: relative;
    text-align: center;
    box-shadow: 0 3px 14px 0 rgb(7 152 255 / 9%);
    margin: 0px auto;
    border-radius: 2px;
    font-size: 16px;
}

.agent_unit_social_single a {
    color: #777;
    margin-right: 7px;
    margin-left: 7px;
}

.agent_details {
    min-height: 200px;
    padding-right: 0px;
}

.agent_details h3 {
    margin-bottom: 5px;
    font-size: 24px;
}
.agent_position {
    margin: 0px 0px 10px 0px;
    line-height: 1.65em;
}

.single-estate_agency .agent_detail, .agent_detail {
    margin: 0px 0px 2px 0px;
    padding-left: 0px;
    font-size: 13px;
}

.agent_detail i {
    color: #777;
    margin-right: 10px;
    font-size: 12px;
    background: #f2f2f2;
    position: relative;
    width: 27px;
    height: 27px;
    line-height: 27px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 5px;
}
.agent_contanct_form, .agent_content {
    margin: 0px 0px 30px 0px;
    float: left;
    padding: 30px;
    background-color: #fff;
    z-index: 99;
    position: relative;
}
.listing-content .agent_contanct_form {
    margin-left: 0px;
    float: left;
    width: 100%;
}

.listing-content .agent_contanct_form {
    padding: 0px 30px 30px 30px;
    background-color: #fff;
}

#show_contact {
    float: left;
}

.schedule_meeting {
    background-color: #0ABFF7;
    color: #fff!important;
    padding: 3px 15px 3px;
    float: left;
    margin-left: 13px;
    webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}

.agent_contanct_form .alert-box {
    clear: both;
    width: 100%;
    display: flex;
}

.alert-message, .login-alert {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    background-color: #f44336;
    margin-bottom: 13px;
    padding: 1px 10px;
    margin-top: 13px;
    width: 100%;
    border-radius: 2px;
}

.wpestate-agent-contact-sent {
    background-color: #3c9f7e!important;
}

.schedule_wrapper, .contact_form_flex_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 9px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #8593a9;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #eee;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin-bottom: 15px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], textarea {
    font-size: 13px;
    padding: 9px 0px 9px 9px;
    color: #8593a9;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: none;
    -webkit-appearance: none;
}

#schedule_hour {
    padding-left: 4px;
}

textarea.form-control {
    height: auto;
    font-size: 13px;
}

.comment-form #submit, .wpresidence_button {
    text-shadow: none;
    margin-bottom: 15px;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 8px 34px;
    border: 1px solid;
    line-height: 2;
    border-color: #0073e1;
    color: #ffffff;
    background-color: #0073e1;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #0073e1));
    background-image: linear-gradient(to right, transparent 50%, #0073e1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    width: auto;
}

.wpresidence_button.agent_submit_class, .wpresidence_button.send_email_agent {
    display: inline-block;
    float: left;
    margin-right: 15px;
}

#agent_submit {
    margin-bottom: 0px;
    margin-right: 15px;
    min-width: 170px;
}
.wpresidence_button.realtor_call, .wpresidence_button.realtor_whatsapp {
    display: inline-block;
    float: left;
}

.agent_contanct_form .realtor_whatsapp, .agent_contanct_form .realtor_call, .wpestate_agent_details_wrapper .message_submit, .wpestate_agent_details_wrapper .realtor_call, .wpestate_agent_details_wrapper .realtor_whatsapp {
    margin-right: 15px;
}

.wpresidence_button_inverse {
    color: #0073e1;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #0073e1), color-stop(50%, #ffffff));
    background-image: linear-gradient(to right, #0073e1 50%, #ffffff 50%);
}

.comment-form #submit:hover, .wpresidence_button:hover {
    background-color: #0761b7;
    text-decoration: none;
    background-color: transparent;
    background-position: left bottom;
    color: #0073e6;
    border-color: #0073e6;
    transition: all 300ms ease;
    webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    cursor: pointer;
}

.wpresidence_button.wpresidence_button_inverse:hover {
    color: #fff;
}

.mylistings {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    float: none;
}

.mylistings h3 {
    width: 100%;
}

.agent_listings_title_similar {
    padding-left: 15px;
    letter-spacing: -1px;
}

.listing_wrapper {
    margin-bottom: 30px;
    padding: 0 15px;
}

.property_listing_blog, .property_listing {
    position: relative;
    height: 100%;
    border: 1px solid #f1f8ff;
    font-size: 13px;
    background-color: #ffffff;
    max-width: 525px;
    transition: 0.3s ease-out;
    float: left;
}

.listing-unit-img-wrapper {
    position: relative;
    float: left;
    background: #fff;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.property_listing .prop_new_details {
    z-index: 10;
}

.prop_new_details {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
}
.prop_new_details_back {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.property_media {
    color: #fff;
    position: absolute;
    bottom: 8px;
    right: 20px;
    z-index: 9;
    opacity: 0.9;
}
.property_media .fas {
    margin-left: 8px;
}

.property_location_image {
    color: #fff;
    position: absolute;
    bottom: 8px;
    left: 20px;
    right: 20px;
    z-index: 9;
    opacity: 0.9;
    pointer-events: auto;
}

.property_marker {
    margin-right: 5px;
    padding-left: 0px;
}

.property_location_image a {
    color: #fff;
    font-weight: 600;
}
.property_listing a {
    text-decoration: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.tag-wrapper {
    position: absolute;
    width: 100%;
    padding: 0px 20px;
}

.property-unit-information-wrapper {
    float: left;
}

.property_listing_blog h4, .property_listing h4 {
    padding: 0px 20px;
    margin-top: 15px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}
.property_card_default h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 334px;
    font-size: 20px;
}

.listing_unit_price_wrapper {
    position: relative;
    margin-top: 5px;
    color: #0d7ae3;
    margin-left: 20px;
    font-size: 17px;
    line-height: 16px;
    float: left;
    line-height: 30px;
    font-weight: 700;
}

.price_label {
    font-size: 16px;
    margin-top: 2px;
}

.inforoom svg {
    fill: #5c727d;
    width: 19px;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
}

.listing_details {
    margin: 0px;
    line-height: 1.65em;
    float: left;
    padding: 0px 20px;
    margin: 5px 0px 5px 0px;
    width: 100%;
    word-break: break-word;
}

.listing_details.the_grid_view {
    max-height: 160px;
}

.property_listing a {
    text-decoration: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.pagination > li > a, .pagination > li > span, .single-content p a, .featured_article:hover h2 a, .user_dashboard_listed a, .blog_unit_meta .read_more, .slider-content .read_more, .blog2v .read_more, .breadcrumb .active, .unit_more_x a, .unit_more_x, #login_trigger_modal {
    color: #222222;
}

.property_location {
    position: relative;
    bottom: 0px; 
    left: 20px;
    display: inline-block;
    right: 20px;
    height: auto;
    border-top: 1px solid #eef3f6;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    padding: 13px 0px;
    color: #8593a9;
    line-height: 16px;
    float: left;
    width: 90%;
}

.property_agent_wrapper {
    float: left;
    line-height: 30px;
    font-weight: 700;
    color: #333;
}

.property_agent_image {
    width: 30px;
    height: 30px;
    float: left;
    background-size: cover;
    margin-right: 10px;
    border-radius: 100%;
}

.property_agent_wrapper a {
    color: #333;
    font-weight: 700;
}

.listing_actions {
    float: right;
    position: relative;
}

.share_list {
    color: #222;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    border: 1px solid #eef3f6;
    text-align: center;
    padding-top: 7px;
}

.icon-fav {
    color: #c2cbd9;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    border: 1px solid #eef3f6;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}

.compare-action {
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    background-image: none!important;
    border: 1px solid #eef3f6;
    text-align: center;
    padding-top: 7px;
    color: #c2cbd9;
    border-radius: 2px;
}

.property_listing_details {
    position: relative;
    color: #333;
    width: 100%;
    float: left;
    padding: 5px 20px;
    /*margin-bottom: 62px;*/
}

.property_listing_details .inforoom, .property_location .inforoom {
    line-height: 30px;
    margin-right: 20px;
    color: #5c727d;
    font-size: 13px;
    float: left;
}
.property_listing_details .infobath, .property_location .infobath {
    line-height: 30px;
    margin-right: 20px;
    color: #5c727d;
    font-size: 13px;
    float: left;
}

.property_listing_details .infosize, .property_location .infosize {
    line-height: 30px;
    margin-right: 5px;
    color: #5c727d;
    font-size: 13px;
    float: left;
}

.property_reviews_wrapper, .add_review_wrapper {
    width: 100%;
    display: inline-block;
    min-height: 1px;
}

.property_reviews_wrapper {
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
}

.widget-area-sidebar {
    min-height: 500px;
    margin-top: 0px;
}


#primary {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 30%;
}

#colophon ul, #primary ul {
    list-style: none;
    margin: 0px !important;
}

#primary .widget-container {
    clear: both;
    background: #fff;
    padding: 30px;
    border: 1px solid #fff;
    display: inline-block;
    float: left;
    width: 100%;
}


.widget-container {
    margin-bottom: 30px;
}

.widget-title-sidebar {
    font-size: 17px;
    line-height: 26px;
    color: #434953;
    margin: 0px 0px 15px 0px;
}

.measurement_unit_widget .dropdown.form-control {
    padding: 0px;
    margin-bottom: 0px;
}

.dropdown {
    cursor: pointer;
}

.sidebar_filter_menu {
    margin-top: 1px;
    position: relative;
    font-size: 13px;
    padding: 10px 12px;
}

#primary .widget-container form {
    display: inline-block;
    width: 100%;
}

.advanced_search_sidebar input {
    padding: 6px 12px;
}

#tab_prpg_adv6 {
    position: relative;
}

.advanced_search_sidebar .nav-tabs {
    text-align: left;
    margin-bottom: 5px;
    border-bottom: 0px;
}
.wpestate_search_tab_align_center .nav-tabs {
    border: none;
    margin-left: 0px;
    margin-bottom: 10px;
    float: none;
    text-align: center;
    top: -65px;
    margin: 0px auto;
    width: 100%;
}
.wpestate_search_tab_align_center .nav-tabs .adv_search_tab_item {
    float: none;
    text-align: center;
    margin-right: 10px;
    position: relative;
}
.advanced_search_sidebar .adv_search_tab_item {
    margin-right: 5px!important;
    margin-bottom: 5px!important;
}

.adv_search_tab_item.active {
    background: #0073e1;
    color: #fff;
    border: 1px solid #0073e1;
}
.adv_search_tab_item {
    float: left;
    display: inline-block;
    border: 1px solid #ebba7c;
    background: #ebba7c;
}
.adv_search_tab_item.active a {
    color: #fff;
}

.advanced_search_sidebar .adv_search_tab_item a, .adv_search_tab_item a {
    color: #fff;
    float: left;
    padding: 13px 23px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 14px;
    margin:  0px;
}

.advanced_search_sidebar .adv6_tab_head {
    padding: 10px 10px!important;
}


.adv_search_tab_item {
    float: left;
    display: inline-block;
    border: 1px solid #ebba7c;
    background: #ebba7c;
}
.advanced_search_shortcode .tab-pane, .adv-search-mobile .tab-pane, .advanced_search_sidebar .tab-pane {
    box-shadow: none;
}

#tab_prpg_adv6 .tab-content {
    background-color: #fff;
    padding: 10px 0;
    border-color: #fff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
}
.tab-content>.active {
    display: block;
}
.advanced_search_sidebar .col-md-2, .advanced_search_sidebar .col-md-3, .advanced_search_sidebar .col-md-4, .advanced_search_sidebar .col-md-6, .advanced_search_sidebar .col-md-8 {
    width: 100%;
    padding: 0px;
}

.advanced_search_sidebar .dropdown.form-control {
    padding: 0px;
}

.adv-search-mobile .adv_search_slider, #primary .adv_search_slider {
    padding-right: 0px!important;
    margin-bottom: 20px;
    width: 100%;
}

.comment-form #submit, .wpresidence_button {
    text-shadow: none;
    margin-bottom: 15px;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 8px 34px;
    border: 1px solid;
    line-height: 2;
    border-color: #0073e1;
    color: #ffffff;
    background-color: #0073e1;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #0073e1));
    background-image: linear-gradient(to right, transparent 50%, #0073e1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}
.advanced_submit_4, #advanced_submit_4 {
    width: 100%;
}

.adv_extended_options_text {
    float: left;
    font-size: 13px;
    margin-top: -3px;
    cursor: pointer;
    width: 100%;
    color: #0073e1;
    font-weight: 700;
}

.advanced_search_sidebar .extended_search_check_wrapper {
    margin-left: 0px;
    display: none;
}

.extended_search_check_wrapper {
    float: left;
    width: 100%;
    position: relative;
    margin-left: 8px;
}
.extended_search_check_wrapper.active{
    display: block;
}

#adv_extended_close_sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.extended_search_checker {
    float: left;
    width: 25%;
    margin: 5px 0px!important;
}

.advanced_search_sidebar .extended_search_checker {
    float: left;
    width: 100%;
    margin: 5px 0px;
    display: inline;
}
.extended_search_checker label {
    margin-bottom: 5px!important;
    color: #8593a9;
    height: 13px;
    width: calc(100% - 25px);
}

#primary .extended_search_checker label {
    font-weight: 400;
    font-size: 14px;
}

input[type="checkbox"] {
    position: relative;
    outline: 0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 15PX;
    width: 15px;
    margin-bottom: 0px;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #dde4e9;
    background-color: #fff;
    color: #565a5c;
    box-sizing: border-box;
    padding: 0;
    margin-top: 0px;
}

.category_list_widget li {
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 11px;
    padding-bottom: 11px;
}

.widget li, .widget-container li {
    font-size: 13px;
    width: 100%;
    margin-bottom: 11px;
    font-weight: 400;
}

.widget li a, .widget-area-sidebar li a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.category_list_widget .category_no {
    float: right;
    margin: 5px 0px 0px 0px;
}

.widget-area-sidebar li a:hover {
    text-decoration: none;
    transition-duration: 0s;
}

.wpb_widgetised_column .latest_listings .widget-title-sidebar, #primary .widget-container.latest_listings .widget-title-sidebar {
    padding: 0px 0px 15px 0px;
    background: #fff;
    margin-bottom: 0px;
    border: 1px solid #fff;
    border-bottom: 0px;
}

.wpb_widgetised_column .latest_listings .list_type, #primary .latest_listings.list_type {
    float: left;
    clear: both;
    background: #fff;
    padding: 0px 0px 30px 0px;
    border: 1px solid #fff;
    border-top: 0px;
}

.widget_latest_internal {
    margin-bottom: 13px;
    width: 100%;
    height: auto;
    min-height: 70px;
    float: left;
}

.widget_latest_listing_image {
    position: relative;
    float: left;
    max-width: 40%;
    overflow: hidden;
    border-radius: 2px;
}

.widget li a, .widget-area-sidebar li a {
    font-size: 14px;
    line-height: 22px;
}

.widget_latest_title {
    color: #3e454d;
    font-weight: 600;
}

.listing_name {
    display: inline;
    margin-left: 0px;
    float: left;
    line-height: 20px;
    position: relative;
    width: 60%;
    padding-left: 13px;
}

.widget_latest_price {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 700;
    color: #f1bf7f;
}
#primary .price_label {
    font-size: 13px;
    margin-top: 2px;
}

#primary .social_sidebar_internal {
    margin-bottom: -10px;
}

#colophon .social_sidebar_internal a, #primary .social_sidebar_internal a {
    width: 41px;
    height: 41px;
    padding: 11px 0px;
    background-color: #f3f3f3;
    margin: 0px 10px 10px 0px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#primary .social_sidebar_internal a {
    width: 21%;
    margin: 0 2% 2% 0;
    height: 0;
    padding-bottom: 18%;
    position: relative;
}

#primary .social_sidebar_internal i {
    font-size: 19px;
    color: #a6b3bb;
}

#primary .social_sidebar_internal i {
    -moz-osx-font-smoothing: grayscale;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -11px;
}

.wpresidence_slider_price {
    border: 0;
    color: #0073e1;
    font-weight: 600;
}   