.sidebar-left{
    width: 100%;
    padding: 10px 15px 15px 15px;
}
.sidebar-left h1.title{
    font-size: 24px;
    color: #222;
    font-family: var(--font-lexend);
    line-height: 40px;
    margin-bottom: 10px;
}
.sidebar-left .location-property{
    color: #4e4e4e;
    margin-bottom: 10px;
}
.sidebar-left .location-property i{
    color: var(--color-left);
}
.carousel-inner{
    margin-right: 144px;
    width: auto;
}
#carousel-listing{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
#carousel-indicators-vertical{
    width: 144px;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 5px;
    background: #4e4e4e;
}
#carousel-indicators-vertical li{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

#carousel-indicators-vertical li img{
    width: 100%;
    height: auto;
}
#carousel-listing .owl-nav{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#carousel-listing .owl-nav .owl-prev{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #222;
    background: #fff;
    border-radius: 50%;
}
#carousel-listing .owl-nav .owl-next{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #222;
    background: #fff;
    border-radius: 50%;
}
#carousel-listing .owl-nav .owl-prev span,
#carousel-listing .owl-nav .owl-next span{
    margin-bottom: 5px;
}